@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.josefin-sans-100 {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.App {
    color: black;
    width: 15rem;
    height: 15rem;
    font-family: "Josefin Sans", serif;
    font-size: 1.5rem;
}

.container {

}